*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*
***********
Header
***********
*/

header{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 50px;
}


h1{
    padding: 30px;
    padding-bottom: 40px;
    color: fuchsia;
    font-size: 40px;
}

/*
***********
Main
***********
*/

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.box{
    width: calc(100% / 3 - 20px);
    float: left;
    margin: 10px;
    background-color: black;
    box-shadow: 5px 5px 9px 3px rgba(0,0,0,0.66);
}

.box-img{
    width: 30%;
    float: left;
}

.img{
    width: 100%;
    display: block;
    padding-right: 5px;
}

.box-content{
    width: 70%;
    display: inline-block;
    color: white;
}

.name, .job, .email{
    font-family: 'DM Sans', sans-serif;
    line-height: 33px;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 16px;
}

h4{
    font-size: 16px;
    color: #56afd4
}